In [5]:
#Import Necessary Libraries
import numpy as np
import pandas as pd
#Task 1: Create three dataframes and save them as CSV files
# Create the Employee DataFrame
emp_df=pd.DataFrame({'ID':['A001','A002','A003','A004','A005'],'Name':['John Alter','Alice Luxumburg','Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]})
emp_df.to_csv('emp_df.csv', index=False)                   # Save the Employee DataFrame as a CSV file

#Create the Project DataFrame
proj_df = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished']
})
proj_df.to_csv('project_data.csv', index=False)                        # Save the Project DataFrame as a CSV file

#seniority Level Dataframe
senior_df=pd.DataFrame({'ID':['A001','A002','A003','A004','A005'],'Designation Level':[2,2,3,2,3]})
senior_df.to_csv('senior_df.csv',index=False)                            # Save the Seniority Level DataFrame as a CSV file
print(emp_df)
print(proj_df)
print(senior_df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [12]:
# Task 2: Compute the missing values in the 'Cost' column of the 'Project' DataFrame
running_avg=0
count=0
for i, row in proj_df.iterrows():                                 # Iterate through each row in the DataFrame
    if not pd.isna(row['Cost']):                                  # Check if the 'Cost' value in the current row is not NaN (not missing)
        running_avg=(running_avg*count+row['Cost'])/(count+1)      # Update the running average based on the current 'Cost' value
        count+=1                                                  # Increment the count of non-missing values
    else:
         proj_df.at[i,'Cost']=running_avg                         # If the 'Cost' value is missing, fill it with the current running average

print(proj_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished

In [ ]:
# Task 3: Split the 'Name' column in the 'Employee' DataFrame into 'First Name' and 'Last Name'
emp_df[['First Name', 'Last Name']] = emp_df['Name'].str.split(' ', expand=True)    # Split the 'Name' column into 'First Name' and 'Last Name' columns
emp_df = emp_df.drop('Name', axis=1)                                                # Drop the original 'Name' column
print(emp_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumburg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [ ]:
# Task 4: Join all three dataframes into a single 'Final' DataFrame
final_df = pd.merge(emp_df, senior_df, on='ID', how='inner')                       # Merge the Employee, Seniority Level, and Project DataFrames
final_df = pd.merge(final_df, proj_df, on='ID', how='inner')
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumburg                  2
4   A002      F   London   27      Alice  Luxumburg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status
0    Project 1  1.002000e+06  Finished
1    Project 9  1.884727e+06   Ongoing
2   Project 11  2.000000e+06    Failed
3    Project 2  2.000000e+06   Ongoing
4    Project 6  6.800000e+05    Failed
5    Project 3  4.500000e+06  Finished
6    Project 8  3.500000e+05    Failed
7   Project 10  3.000000e+05  Finished
8    Project 4  5.500000e+06   Ongoing
9   Project 12  1.000000e+06   Ongoing
10  Project 13  3.000000e+06  Finished
11   Project 5  1.884727e+06  Finished
12   Project 7  4.000000e+05  Finished

In [ ]:
# Task 5: Add a new 'Bonus' column in the 'Final' DataFrame for employees who finished projects
final_df['Bonus'] = np.where(final_df['Status'] == 'Finished', 0.05 * final_df['Cost'], 0)            # to calculate the bonus as 5% of the project cost for employees who finished projects
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumburg                  2
4   A002      F   London   27      Alice  Luxumburg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status          Bonus
0    Project 1  1.002000e+06  Finished   50100.000000
1    Project 9  1.884727e+06   Ongoing       0.000000
2   Project 11  2.000000e+06    Failed       0.000000
3    Project 2  2.000000e+06   Ongoing       0.000000
4    Project 6  6.800000e+05    Failed       0.000000
5    Project 3  4.500000e+06  Finished  225000.000000
6    Project 8  3.500000e+05    Failed       0.000000
7   Project 10  3.000000e+05  Finished   15000.000000
8    Project 4  5.500000e+06   Ongoing       0.000000
9   Project 12  1.000000e+06   Ongoing       0.000000
10  Project 13  3.000000e+06  Finished  150000.000000
11   Project 5  1.884727e+06  Finished   94236.363636
12   Project 7  4.000000e+05  Finished   20000.000000

In [ ]:
# Task 6: Demote the designation level by 1 for failed projects, and delete employees with designation level above 4
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1            # Demote the designation level by 1 for failed projects
final_df = final_df[final_df['Designation Level'] <= 4]                            # Delete employees with designation level above 4
print(final_df)

      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumburg                  2
4   A002      F   London   27      Alice  Luxumburg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3

       Project          Cost    Status          Bonus
0    Project 1  1.002000e+06  Finished   50100.000000
1    Project 9  1.884727e+06   Ongoing       0.000000
2   Project 11  2.000000e+06    Failed       0.000000
3    Project 2  2.000000e+06   Ongoing       0.000000
4    Project 6  6.800000e+05    Failed       0.000000
5    Project 3  4.500000e+06  Finished  225000.000000
6    Project 8  3.500000e+05    Failed       0.000000
7   Project 10  3.000000e+05  Finished   15000.000000
8    Project 4  5.500000e+06   Ongoing       0.000000
9   Project 12  1.000000e+06   Ongoing       0.000000
10  Project 13  3.000000e+06  Finished  150000.000000
11   Project 5  1.884727e+06  Finished   94236.363636
12   Project 7  4.000000e+05  Finished   20000.000000

In [ ]:
# Task 7: Add 'Mr.' and 'Mrs.' to the 'First Name' column and drop the 'Gender' column
final_df['First Name'] = np.where(final_df['Gender'] == 'M', 'Mr. ' + final_df['First Name'], 'Mrs. ' + final_df['First Name'])    # Add 'Mr.' and 'Mrs.' to the 'First Name' column based on gender
final_df = final_df.drop('Gender', axis=1)                                           # Drop the 'Gender' column
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumburg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumburg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  3   Project 7

            Cost    Status          Bonus
0   1.002000e+06  Finished   50100.000000
1   1.884727e+06   Ongoing       0.000000
2   2.000000e+06    Failed       0.000000
3   2.000000e+06   Ongoing       0.000000
4   6.800000e+05    Failed       0.000000
5   4.500000e+06  Finished  225000.000000
6   3.500000e+05    Failed       0.000000
7   3.000000e+05  Finished   15000.000000
8   5.500000e+06   Ongoing       0.000000
9   1.000000e+06   Ongoing       0.000000
10  3.000000e+06  Finished  150000.000000
11  1.884727e+06  Finished   94236.363636
12  4.000000e+05  Finished   20000.000000

In [ ]:
# Task 8: Promote designation level by 1 for employees whose age is more than 29 years
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1                     # Promote the designation level by 1 for employees whose age is more than 29 years
print(final_df)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumburg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumburg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 7

            Cost    Status          Bonus
0   1.002000e+06  Finished   50100.000000
1   1.884727e+06   Ongoing       0.000000
2   2.000000e+06    Failed       0.000000
3   2.000000e+06   Ongoing       0.000000
4   6.800000e+05    Failed       0.000000
5   4.500000e+06  Finished  225000.000000
6   3.500000e+05    Failed       0.000000
7   3.000000e+05  Finished   15000.000000
8   5.500000e+06   Ongoing       0.000000
9   1.000000e+06   Ongoing       0.000000
10  3.000000e+06  Finished  150000.000000
11  1.884727e+06  Finished   94236.363636
12  4.000000e+05  Finished   20000.000000

In [ ]:
# Task 9: Create a new DataFrame 'TotalProjCost' with ID, First Name, and Total Cost
total_proj_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()       # Group the data by ID and First Name, and calculate the total cost for each employee
total_proj_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)                       # Rename the 'Cost' column to 'Total Cost'
print(total_proj_cost_df)

     ID  First Name    Total Cost
0  A001    Mr. John  4.886727e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  2.284727e+06

In [ ]:
# Task 10: Print all employee details whose city name contains the letter 'o'
print(final_df[final_df['City'].str.contains('o')])                               # Filter the 'Final' DataFrame to include only employees whose city name contains the letter 'o'

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumburg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumburg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0